
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="home頁面描述"/>
    <title>home</title>
    <link rel="stylesheet" href="./css/main.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
  </head>
  <body data-page="home">
    <div id="app" v-cloak="v-cloak">
      <footer class="layout-footer">
        <p>版權所有 &copy; 2025</p>
      </footer>
    </div>
  </body>
  <script id="todoListComponent" type="text/x-template">
    <div class="todo-container">
      <h2>📋 待辦清單 ~~~</h2>
      <hr/>
      <input class="todo-input" v-model="newItem" type="text" placeholder="輸入新任務" @keyup.enter="addItem"/>
      <ul class="todo-list">
        <li v-for="(item, index) in items" :key="index"><span @click="toggleItem(index)">{{ item.text }}<br/><small>{{ item.createdAt }}</small></span>
          <button @click="removeItem(index)">✕</button>
        </li>
      </ul>
    </div>
  </script>
  <script src="/cdn_template/vendors/mock/mock.min.js"> </script>
  <script type="importmap">
    {
      "imports": {
        "@/containers/": "/cdn_template/design-pattern-lab/containers/",
        "@/mock/": "/cdn_template/design-pattern-lab/mock/",
        "@/api/": "/cdn_template/design-pattern-lab/api/",
        "@Vue": "/cdn_template/design-pattern-lab/VueContext.js",
        "@/": "/cdn_template/design-pattern-lab/",
        "@/src": "/cdn_template/design-pattern-lab/src/",
        "@/utils/": "/cdn_template/design-pattern-lab/containers/utils/",
        "@/framework/": "/cdn_template/design-pattern-lab/containers/framework/",
        "@/pages/": "/cdn_template/design-pattern-lab/src/pages/",
        "@/plugins/": "/cdn_template/design-pattern-lab/src/plugins/",
        "@/layouts/": "/cdn_template/design-pattern-lab/src/layouts/",
        "@/components/": "/cdn_template/design-pattern-lab/src/components/",
        "@/vendors/": "/cdn_template/vendors/"
      }
    }
    
  </script>
  <script type="module" src="./main.js"></script>
</html>